<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>

    <body>
        <h1>Cadastro de veterinário</h1>
        <div class="tab-1 resp-tab-content" aria-labelledby="tab_item-1">
            <div class="login-top sign-top">
                <div class="agileits-login">
                    <th:block th:include="mensagens"/>
                    <form method="post">
                        <p>nome: <input type="text" value="" name="nome"/></p>
                        <p>email: <input type="text" value="" name="email"/></p>
                        <p>senha: <input type="text" value="" name="senha"/></p>
                        <p>CRMV: <input type="text" value="" name="crmv"/></p>

                        <button type="submit">Cadastrar</button>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>
