<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="pt-br"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <title>E-DoseCerta</title>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="keywords" content="Best Pets Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
              SmartPhone Compatible web template, free WebDesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola web design" />
        <script type="application/x-javascript">
            addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } 
        </script>
        <!-- Custom Theme files -->
        <link href="css/bootstrap.css" type="text/css" rel="stylesheet" media="all"/>
        <link href="css/style.css" type="text/css" rel="stylesheet" media="all"/>   
        <link href="css/font-awesome.css" rel="stylesheet"/> <!-- font-awesome icons --> 
        <!-- //Custom Theme files -->  
        <!-- web-fonts -->   
        <link href="//fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet"/>
        <link href="//fonts.googleapis.com/css?family=Dosis:200,300,400,500,600,700,800" rel="stylesheet"/>
        <!-- //web-fonts -->
    </head>
    <body>
        <!-- banner -->
        <div class="w3ls-banner about-w3lsbanner">
            <div class="w3lsbanner-info">
                <!-- header -->
                <div class="header">
                    <div class="container">
                        <div class="agile_header_grid">
                            <div class="header-mdl agileits-logo">
                                <h1><a href="/">E-DoseCerta</a></h1>
                            </div>
                            <div class="agileits_w3layouts_sign_in">
                                <ul>
                                    <li><a href="#myModal2" data-toggle="modal" class="play-icon">Login</a></li>
                                </ul>
                            </div>
                            <div class="agileits_w3layouts_sign_in">
                                <ul>
                                    <th:block th:include="mensagens"/>
                                </ul>
                            </div>
                            <div class="clearfix"> </div>
                        </div>
                        <div class="header-nav"><!-- header-two -->
                            <nav class="navbar navbar-default">
                                <div class="navbar-header">
                                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                        <span class="sr-only">Toggle navigation</span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                    </button>
                                </div>
                                <!-- top-nav -->
                                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                    <ul class="nav navbar-nav cl-effect-16">
                                        <li><a href="/" data-hover="Home">Home</a></li>
                                        <li><a href="/sobre" data-hover="Sobre">Sobre</a></li>
                                        <li><a href="/contato" class="active" data-hover="Contato">Contato</a></li>
                                    </ul>
                                    <div class="clearfix"> </div>
                                </div>
                            </nav>
                        </div>
                    </div>
                </div>
                <!-- //header -->
            </div>
        </div>
        <!-- //banner -->
        <!-- contact -->
        <div class="contact">
            <div class="container">
                <h3 class="agileits-title w3title2">Contato</h3>
                <div class="map-pos">
                    <div class="col-md-4 address-row">
                        <div class="col-xs-2 address-left">
                            <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
                        </div>
                        <div class="col-xs-10 address-right">
                            <h5>Nos Visite</h5>
                            <p>Saldanha, Guarapuava, PR, Brasil</p>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                    <div class="col-md-4 address-row w3-agileits">
                        <div class="col-xs-2 address-left">
                            <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
                        </div>
                        <div class="col-xs-10 address-right">
                            <h5>EMAIL</h5>
                            <p><a href="mailto:info@example.com"> contato@edosecerta.com</a></p>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                    <div class="col-md-4 address-row">
                        <div class="col-xs-2 address-left">
                            <span class="glyphicon glyphicon-phone" aria-hidden="true"></span>
                        </div>
                        <div class="col-xs-10 address-right">
                            <h5>TELEFONE</h5>
                            <p>(42)98411-0126</p>
                        </div>
                        <div class="clearfix"> </div>
                    </div>   
                </div>  
                <form action="#" method="post">
                    <div class="col-sm-6 contact-left">
                        <input type="text" name="Name" placeholder="Nome" required=""/>
                        <input type="email" name="Email" placeholder="Email" required=""/>
                        <input type="text" name="Mobile Number" placeholder="Telefone de Contato" required=""/>
                    </div>
                    <div class="col-sm-6 contact-right"> 
                        <textarea name="Message" placeholder="Mensagem" required=""></textarea>
                        <input type="submit" value="ENVIAR" />
                    </div>
                    <div class="clearfix"></div>
                </form>
            </div>
        </div>  
        <!-- //contact --> 
        <div class="map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3604.7295182728403!2d-51.487582!3d-25.3803801!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ef37bac3098bc7%3A0xd63073e58ca54400!2sR.+Saldanha+Marinho%2C+3805+-+Dos+Estados%2C+Guarapuava+-+PR%2C+85035-160!5e0!3m2!1spt-BR!2sbr!4v1529882092017" 
                    width="600" height="450" frameborder="0" style="border:0" allowfullscreen="">
            </iframe>
        </div>
        <!-- news letter -->
        <!--
        <div class="subscribe jarallax">
                <div class="sub-agileinfo">
                        <div class="container">
                                <h3 class="agileits-title w3title1">Get our free newsletter</h3>
                                <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est consectetur adipisci velit sed quia non numquam eius.</p>
                                <form>
                                        <input type="email" name="email" placeholder="Email Address" class="user" required="">
                                        <input type="submit" value="Subscribe">
                                </form>
                                <p class="spam">We never share your information or use it to spam you</p>
                        </div> 
                </div>
        </div>
        -->
        <!-- //news letter -->
        <!-- footer -->
        <div class="footer">
            <div class="footer-top">
                <div class="container">
                    <div class="footer-grids">
                        <div class="col-md-3 col-sm-6 footer-logo">
                            <div class="agileits-logo">
                                <h2><a href="/">E-DoseCerta</a></h2>
                            </div>
                            <p>O sistema que teve como início um trabalho integrador para a faculdade, hoje é uma realidade. Nosso objetivo é auxiliar médicos veterinários, no cálculo das dosagens dos fármacos ministrados.</p>
                        </div>
                        <div class="col-md-3 col-sm-6 footer-grid">
                            <h3>Navegação</h3>
                            <ul>
                                <li><a href="/">Home</a> </li>
                                <li><a href="/sobre">Sobre</a></li>
                                <li><a href="/contato">Contato</a></li>
                            </ul>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                </div>
            </div>
            <div class="footer-bottom">
                <div class="container">
                    <p>© 2017 Best Pets. All rights reserved | Design by <a href="http://w3layouts.com">W3layouts</a></p>
                </div>
            </div>
        </div>
        <!-- //footer -->
        <!-- modal-about -->
        <div class="modal bnr-modal fade" id="myModal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>						
                    </div> 
                    <div class="modal-body modal-spa">
                        <img src="/images/g2.jpg" class="img-responsive" alt=""/>
                        <h4>Consectetur adipiscing elit</h4>
                        <p>Donec fringilla lacus eu pretium rutrum. Cras aliquet congue ullamcorper. 
                            Etiam mattis eros eu ullamcorper volutpat. Proin ut dui a urna efficitur varius. 
                            uisque molestie cursus mi et congue consectetur adipiscing elit cras rutrum iaculis enim, 
                            Lorem ipsum dolor sit amet, non convallis felis mattis at. Maecenas sodales tortor ac ligula 
                            ultrices dictum et quis urna. Etiam pulvinar metus neque, eget porttitor massa vulputate in.<br/> 
                            Fusce lacus purus, pulvinar ut lacinia id, sagittis eu mi. Vestibulum eleifend massa sem, eget 
                            dapibus turpis efficitur at. Aliquam viverra quis leo et efficitur. Nullam arcu risus, scelerisque 
                            quis interdum eget, fermentum viverra turpis. Itaque earum rerum hic tenetur a sapiente delectus, 
                            ut aut reiciendis voluptatibus maiores alias consequatur aut At vero eos </p>
                    </div> 
                </div>
            </div>
        </div>
        <!-- //modal-about -->
        <!-- modal sign in  -->
        <div class="modal bnr-modal about-modal w3-agileits fade" id="myModal2" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="modal-body login-page "><!-- login-page -->
                        <div class="sap_tabs">
                            <div id="horizontalTab" style="display: block; width: 100%; margin: 0px;">
                                <ul class="resp-tabs-list">
                                    <li class="resp-tab-item" aria-controls="tab_item-0"><span>Login</span></li>
                                    <li class="resp-tab-item" aria-controls="tab_item-1"><span>Cadastro</span></li>
                                </ul>
                                <div class="clearfix"> </div>
                                <div class="resp-tabs-container">
                                    <div class="tab-1 resp-tab-content" aria-labelledby="tab_item-0">
                                        <div class="agileits-login">
                                            <form action="/" method="post">
                                                <input type="text" class="email" name="username" placeholder="Email ou CRMV" required=""/>
                                                <input type="password" class="password" name="password" placeholder="Senha" required=""/>
                                                <div class="wthree-text"> 
                                                    <ul>
                                                        <li> <a href="#">Esqueceu a Senha ?</a> </li>
                                                    </ul>
                                                    <div class="clearfix"> </div>
                                                </div>  
                                                <div class="w3ls-submit"> 
                                                    <input type="submit" value="LOGIN"/>  	
                                                </div>
                                                <!--<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />-->
                                            </form>
                                        </div> 
                                    </div>
                                    <div class="tab-1 resp-tab-content" aria-labelledby="tab_item-1" >
                                        <div class="login-top sign-top" >
                                            <div class="agileits-login" >
                                                <form action="/cadastro" method="post" >
                                                    <input type="text" name="nome" placeholder="Nome Completo" required="" />
                                                    <input type="text" name="crmv" placeholder="CRMV" required=""></input>
                                                    <input type="email" class="email" name="email" placeholder="Email" required="" />
                                                    <input type="password" class="password" name="senha" placeholder="Senha" required="" />
                                                    <label class="anim">
                                                        <input type="checkbox" class="checkbox" />
                                                        <span> Eu Aceito os Termos De Uso</span>
                                                    </label>
                                                    <div class="w3ls-submit">
                                                        <input class="register" type="submit" value="CADASTRAR" />
                                                    </div>
                                                </form>
                                            </div>  
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"> </div>
                            </div>
                        </div> <!-- //login-page -->
                    </div>
                </div>
            </div>
        </div>
        <!-- //modal sign in -->  
        <!-- js --> 
        <script src="js/jquery-2.2.3.min.js"></script>  
        <!-- //js -->  
        <!-- ResponsiveTabs js -->
        <script src="js/easyResponsiveTabs.js" type="text/javascript"></script>
        <script type="text/javascript">
            $(document).ready(function () {
                $('#horizontalTab').easyResponsiveTabs({
                    type: 'default', //Types: default, vertical, accordion           
                    width: 'auto', //auto or any width like 600px
                    fit: true   // 100% fit in a container
                });
            });
        </script>
        <!-- //ResponsiveTabs js -->  
        <!-- jarallax -->  
        <script src="js/SmoothScroll.min.js"></script> 
        <script src="js/jarallax.js"></script> 
        <script type="text/javascript">
            /* init Jarallax */
            $('.jarallax').jarallax({
                speed: 0.5,
                imgWidth: 1366,
                imgHeight: 768
            })
        </script>  
        <!-- //jarallax -->  
        <!-- start-smooth-scrolling -->
        <script type="text/javascript" src="js/move-top.js"></script>
        <script type="text/javascript" src="js/easing.js"></script>	
        <script type="text/javascript">
            jQuery(document).ready(function ($) {
                $(".scroll").click(function (event) {
                    event.preventDefault();

                    $('html,body').animate({scrollTop: $(this.hash).offset().top}, 1000);
                });
            });
        </script>
        <!-- //end-smooth-scrolling -->	
        <!-- smooth-scrolling-of-move-up -->
        <script type="text/javascript">
            $(document).ready(function () {
                /*
                 var defaults = {
                 containerID: 'toTop', // fading element id
                 containerHoverID: 'toTopHover', // fading element hover id
                 scrollSpeed: 1200,
                 easingType: 'linear' 
                 };
                 */

                $().UItoTop({easingType: 'easeOutQuart'});

            });
        </script>
        <!-- //smooth-scrolling-of-move-up --> 
        <!-- Bootstrap core JavaScript
    ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="js/bootstrap.js"></script>
        
        <!-- BEGIN JIVOSITE CODE {literal} -->
        <script type='text/javascript'>
            (function () {
                var widget_id = 'Mb7jBVGRiV';
                var d = document;
                var w = window;
                function l() {
                    var s = document.createElement('script');
                    s.type = 'text/javascript';
                    s.async = true;
                    s.src = '//code.jivosite.com/script/widget/' + widget_id;
                    var ss = document.getElementsByTagName('script')[0];
                    ss.parentNode.insertBefore(s, ss);
                }
                if (d.readyState == 'complete') {
                    l();
                } else {
                    if (w.attachEvent) {
                        w.attachEvent('onload', l);
                    } else {
                        w.addEventListener('load', l, false);
                    }
                }
            })();</script>
        <!-- {/literal} END JIVOSITE CODE -->
    </body>
</html>