<!DOCTYPE html>
<html lang="pt-br"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

    <head>
        <title>E-DoseCerta</title>
    </head>	
    <body>	
        <div class="alert alert-success alert-dismissible" role="alert" th:if="${not #strings.isEmpty(sucesso)}">
            <span th:text="${sucesso}" ></span>
        </div>
        
        <div class="alert alert-warning alert-dismissible" role="alert" th:if="${not #strings.isEmpty(falha)}">
            <span th:text="${falha}" ></span>
        </div>
    </body>						
</html>